
.home{
  .triger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .logoout {
    height: 32px;
    margin: 16px;
    color:white;
  }
  .loader{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
